.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.review__list{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  /*align-items: center; */
  /* border: 20px 20px;
  margin: 20px 20px;
  padding: 30px; */
}

.individual__review{
  list-style-type: none;
  /* float: left;*/
  border-style:solid;
}

.individual__review img {
  object-fit: cover;
}
.review__img {
  float: left;
  object-fit: cover;
  width: 50%;
 max-height: 350px;
}

.individual__comment {
  margin: 20px 20px;
  list-style-type: none;
  border-style: solid;
}

.user__list {
  list-style-type: none;
  display: inline-flex;
  flex-wrap: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.user__card {
  flex-wrap: row ;
  flex-wrap: wrap;
  /*width: 10%;
  height: 10%;
  margin: 50px 50px;
  order: 5; */
  
}

.user__button {
  font-size: 15px;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: white;

}

.user__button:hover{
  background-color: rgb(235, 145, 235);
}